@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  font-family: "Inter", sans-serif;
  background-color: rgb(235, 230, 223);
}

.menu-icon {
  color: #5c48d3;
  font-size: 35px;
}

H1 {
  font-size: 30px;
}

header {
  border: 2px solid lightgrey;
  display: flex;
  height: 70px;
  align-items: center;
  padding-left: 70px;
  gap: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  gap: 30px;
}

input {
  width: 300px;
  height: 35px;
  border-color: #5c48d3;
  background-color: #f2f7fd;
}

button {
  width: 70px;
  height: 35px;
  background-color: #5c48d3;
  color: white;
  border: none;
}

.tasks {
  display: flex;
  justify-content: stretch;
  align-items: center;

  gap: 10px;
}

.done-task {
  text-decoration: line-through;
}
